
@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

<div class="alert alert-info" role="alert">
    File name : @ViewBag.FileName
</div>
<div class="alert alert-info" role="alert">
    Type : @ViewBag.FileType
</div>
<div class="alert alert-info" role="alert">
    Size : @ViewBag.FileSize
</div>
